:root {
  --gray: #3a3a3a;
  --white: #ffffff;
  --red: #800707;
  --mint: #86c98f;
  --navy: #2b3483;
  --primary: var(--gray);
}

body {
  background-color: var(--primary);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.card {
  height: 30vh;
  width: 20%;
  margin: 5%;
  display: flex;
  background-color: var(--mint);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 10px;
}

.card-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.2rem;
  margin-top: 25px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  text-align: center;
  font-size: 1.3rem;
  margin: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  line-height: 26px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);

}

.card-img {
  display: flex;
  flex-wrap: wrap;
  max-height: 60%;
  max-width: 80%;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  font-size: 3.5rem;
}

.values,
.score,
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--white);
  width: 50%;
  text-align: center;
  align-items: center;
  object-position: center;
  margin: 0 auto;

}

.NextButton {
  display: flex;
  justify-content: center;
}

h1,
h4 {
  display: flex;
  justify-content: center;
  color: #ffffff;
}